
# Игнорировать файлы виртуального окружения (если вы его используете)
.venv/
venv/

# Игнорировать файлы настроек VS Code для конкретного проекта
.vscode/

# Игнорировать zip-архивы (если вы не планируете их коммитить)
*.zip

# Игнорировать файлы окружения с секретами
.env

scanner.py
scan.txt


GeoCashe
vertex_count.py
create.py