# Игнорировать файлы виртуального окружения (если вы его используете)
.venv/
venv/

# Игнорировать файлы настроек VS Code для конкретного проекта
.vscode/
__pycache__

# Игнорировать zip-архивы (если вы не планируете их коммитить)
*.zip

# Игнорировать файлы окружения с секретами
.env

# Игнорировать временные файлы Blender
*.blend1

scanner.py
scan.txt

GeoCashe
vertex_count.py
create.py